{% extends "base.html" %}

{% block content %}
        <h4 class="fw-bold py-3 mb-4">
            Preferencias de usuario
        </h4>
        <div class="row">
            <!-- Form controls -->
            <div class="col-md-6">
                <div class="card mb-4">
                    <h5 class="card-header">Moneda</h5>
                    <div class="card-body demo-vertical-spacing demo-only-element">
                        <form action="{% url "preferences" %}" method="POST">
                            {% csrf_token %}
                            <div class="form-floating form-floating-outline mb-4">
                                <select class="form-select" id="currency" name="currency">
                                    <option disabled {% if not user_preference %}selected{% endif %} value="">Seleccionar moneda</option>
                                    {% for currency in currencies %}
                                    <option value="{{ currency.name }}" {% if user_preference and currency.name == user_preference.currency %}selected{% endif %}>{{ currency.name }} - {{ currency.value }}</option>
                                    {% endfor %}
                                </select>
                                <label for="currency">Moneda preferida</label>
                            </div>
                            <button class="btn btn-primary w-100" type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Input Sizing -->
            <div class="col-md-6">
                <div class="card mb-4">
                    <h5 class="card-header">Input Sizing</h5>
                    <div class="card-body demo-vertical-spacing demo-only-element">
                        <div class="form-floating form-floating-outline mb-4">
                            <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
                                <option selected>Seleccionar moneda</option>
                                <option value="1">USD</option>
                                <option value="2">BOB</option>
                            </select>
                            <label for="exampleFormControlSelect1">Moneda por defecto</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}