{% extends "authentication/base.html" %}
{% load static %}

{% block content %}
                <div class="card p-2">
                    {% include "authentication/includes/logo.html" %}
                    <div class="card-body mt-2">
                        <h4 class="mb-2">¿Olvidaste tu contraseña? 🔒</h4>
                        <p class="mb-4">Ingresa tu correo electrónico y te enviaremos instrucciones para restablecer tu contraseña</p>
                        {% include '../includes/messages.html' %}
                        <form id="formAuthentication" class="mb-3" action="{% url "request_password" %}" method="POST">
                            {% csrf_token %}
                            <div class="form-floating form-floating-outline mb-3">
                                <input type="text" class="form-control" id="email" name="email" value="{{ values.email }}" placeholder="Ingresa tu correo electrónico" autofocus>
                                <label>Correo electrónico</label>
                            </div>
                            <button type="submit" class="btn btn-primary d-grid w-100">Enviar</button>
                        </form>
                        <div class="text-center">
                            <a href="{% url "login" %}" class="d-flex align-items-center justify-content-center">
                                <i class="mdi mdi-chevron-left scaleX-n1-rtl mdi-24px"></i>
                                Iniciar sesión
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /Forgot Password -->
                <img alt="mask" src="{% static "img/illustrations/auth-basic-forgot-password-mask-light.png" %}" class="authentication-image d-none d-lg-block" data-app-light-img="illustrations/auth-basic-forgot-password-mask-light.png" data-app-dark-img="illustrations/auth-basic-forgot-password-mask-dark.png" />
{% endblock %}